<p>© 2026 LadyIsabel | <a href="https://neocities.org/site/ladyisabel0052" target="_blank">Neocities</a> | <a href="https://ko-fi.com/ladyisabel0052" target="_blank">Buy me a coffee!</a> | <a href="#start">Scroll to top</a></p>