---
layout: postList.njk
pageTitle: Blog
permalink: /blog/posts/
---

<div class="card">
  <h2>Blog</h2>
  <p>
    Here you'll find a collection of all of my blog posts. Who knows, maybe something in here might actually be interesting. Only one way to find out!
  </p>
</div>
