---
layout: base.njk
pageTitle: Credits
---

<div class="card">
    <h2>Credits</h2>
    <p>
        This site was entirely designed and coded by myself using the static site generator <a href="https://www.11ty.dev/" target="_blank">Eleventy</a> and
        <a href="https://vscodium.com/" target="_blank">VSCodium</a>. I followed <a href="https://petrapixel.neocities.org/" target="_blank">PetraPixel's</a> 
        Eleventy tutorial to get the generator working.
    </p>
</div>

<div class="card">
    <h2>Fonts</h2>
    <ul>
        <li>Main text: <a href="https://fonts.google.com/specimen/Ubuntu+Mono" target="_blank">Ubuntu Mono</a> by Dalton Maag</li>
        <li>Headings 1/2: <a href="https://www.dafont.com/alagard.font" target="_blank">Alagard</a> by Hewett Tsoi</li>
        <li>Headings 3, navigation and image captions: <a href="https://fonts.google.com/specimen/VT323" target="_blank">VT323</a> by Peter Hull</li>
    </ul>
    <hr>
    <h2>Images</h2>
    <ul>
        <li>
            Pride flags by <a href="https://toyhou.se/9179110.f2u-pride-pixels/gallery?legacy=0&page=1" target="_blank">faewyllds on toyhouse</a>
            <div class="blinkies-container-left">
              <img src="/assets/sapphic_flag.png" alt="sapphic pride flag">
              <img src="/assets/trans_flag.png" alt="transgender pride flag">
            </div>
        </li>
        <li>
            88x31 buttons by <a href="https://petrapixel.neocities.org/about/blinkies" target="_blank">PetraPixel</a>
            <div class="blinkies-container-left">
                <img src="/assets/neocities.gif" alt="Neocities, the web is yours">
                <img src="/assets/coded-by-a-human.png" alt="Coded by a human">
            </div>
        </li>
        <li>
            Another 88x31 button by <a href="https://44nifty.com/all-buttons" target="_blank">44nifty</a>
            <div class="blinkies-container-left">
                <img src="/assets/misc-thismachine.png" alt="This machine kills fascists">
            </div>
        </li>
        <li>Art of my persona commisioned from <a href="https://www.tumblr.com/viridian-hare" target="_blank">Viridian Hare on Tumblr</a></li>
    </ul>
    <p>
        Images in blogposts will be credited on the post itself, as they would make this list too big.
    </p>
    <hr>
    <h2>Widgets</h2>
    <ul>
        <li><a href="https://www.websiteout.net/counter.php">Hit counter</a> (websiteout.net)</li>
        <li><a href="https://incr.easrng.net/" target="_blank">Increment</a> by easrng</li>
        <li>E</li>
    </ul>
</div>