---
layout: base.njk
pageTitle: About the site
---

<div class="card">
  <h2>About the Site</h2>
  <p>
    I started working on this site in late February of 2026, after seeing a couple videos about the indie web. Web development and interface design are my favorite parts of
    working with computers, so I decided I'd give it a shot.
  </p>
  <p>
    This site is meant to serve as a showcase of my work. Visual art, creative writing, and anything I feel like writing a blog post about. This is as much a project to practice 
    my web dev skills, as it is a way of putting myself out there as an artist. 
  </p>
  <p>
    You can find this site's code on <a href="https://github.com/LadyIsabel0052/ladyisabel0052.neocities.org" target="_blank">GitHub</a>. You are free to look at it for inspiration for your own project, but please don't steal large parts of 
    my code. If my code helped you out in any way, consider giving me a shout out! It's by no means necessary but very appreciated. For credits, visit the 
    <a href="/credits">Credits</a> page.
  </p>
  <p>
    This site is made without any use of generative AI. I see not using the climate destroying plagiarism machine as a matter of principle.
  </p>
</div>

<div class="card">
  <h2>Content Warnings</h2>
  <p>
    This site is safe for work and for minors. If any page (future or present) contains sensitive or upsetting content, it will be appropriately labeled with a warning.
  </p>
  <p>
    You may find things on this website that you disagree with. If that is the case, I urge you to please be respectful of both your time and mine by leaving the site.
  </p>
</div>
