---
layout: base.njk
pageTitle:  Site manifesto
---

<div class="card">
  <h2>Site Manifesto</h2>
  <p>
    I've read a couple of online manifestos, and I figured that I might as well write up my own. This one serves as a kind of showcase of my intentions for the creation 
    of this website, my personal values, and how I engage with people online and the wider web in general.
  </p>
  <hr>
  <h3>Table of contents</h3>
  <ul>
    <li><a href="#curiosity">Curiosity</a></li>
    <li><a href="#tolerance">Tolerance</a></li>
    <li><a href="#free-knowledge">Free knowledge</a></li>
    <li><a href="#cooperation">Cooperation</a></li>
  </ul>
</div>

<div class="card" id="#curiosity">
  <h2>Curiosity</h2>
  <p>
    I always try to approach the world with curiosity. I believe that when encountering something you are unfamiliar with, the next step should be to try to learn more 
    about it. Approaching the world critically and not always believing what you've been told is an important instinct to develop. Part of this is also having the 
    humility to accept that you may be wrong sometimes. Mistakes are opportunities to learn more, rather than a source of shame. Remaining curious about the world and the 
    people around you is part of how you better yourself.
  </p>
  <p>
    When engaging online, I try to keep an open mind. I've read and watched things online that have changed my mind more than a few times. 
  </p>
</div>

<div class="card" id="#tolerance">
  <h2>Tolerance</h2>
  <p>
    I always try to approach the world with curiosity. When encountering something new, I believe that 
  </p>
</div>

<div class="card" id="#free-knowledge">
  <h2>Free knowledge</h2>
  <p>
    I always try to approach the world with curiosity. When encountering something new, I believe that 
  </p>
</div>

<div class="card" id="#cooperation">
  <h2>Cooperation</h2>
  <p>
    I always try to approach the world with curiosity. When encountering something new, I believe that 
  </p>
</div>